# OS-specific files
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment files (secrets, API keys, etc.)


# Dependency directories
.env
server/.evn
node_modules/



# Coverage reports
coverage/
coverage.json

# Build output (if you add frontend later)
dist/
build/

# VSCode / IDE configs
.vscode/
.idea/
*.iml
